{% extends "base.html" %}
{% block content1 %}
<style>
  table{
    border: 1px solid #0000ff;
    border-collapse:collapse;
    margin-top:50px;
    width:800px;
    text-align:center;
    background-color:#fefefe;
  }
  tr{
    border: 1px solid #000000;
  }
  td{
    width: 33%;
    border: 1px solid #000000;
  }
  a{
    text-decoration:none;
  }
</style>
<table>
  <tr style="baclground-color:#a0f0f0">
    <td colspan="3">工具下載</td>
  </tr>
  <tr>
    <td><a href="http://localhost/pictures/5LYzTBVoS196gvYvw3zjwDO04DZrR-oAkXDY7GIO3y0.png">第一格</a></td>
    <td><a href="http://localhost/pictures/stickers/nacho sticker/321942582_key.png">第二格</a></td>
    <td><a href="http://localhost/pictures/K-on/tpcRoEOCps4t3ELIlRVK75dGH4l.jpeg">第三格</a></td>
  </tr>
</table>
{% endblock %}